# 域名访问配置，phpmyadmin等
#http://[ip]:80 {
#    handle /__phpmyadmin/* {
#	root * /var/www/html
#	file_server
#        php_fastcgi php82:9000
#    }
#    handle {
#        respond "Unauthorized access" 403
#    }
#}
http://[ip] {
	root * /var/www/html
	# 开启压缩
	encode zstd gzip
	php_fastcgi php82:9000
	file_server
	try_files {path} {path}/ /index.php?{$query}
}