http://[ip] {
	root * /var/www/html
	# 开启压缩
	encode zstd gzip
	php_fastcgi php82:9000
	file_server
	try_files {path} {path}/ /index.php?{$query}
}
# 域名访问配置，phpmyadmin等
#http://[ip]:80 {
#    handle /__phpmyadmin/* {
#	root * /var/www/html
#	file_server
#        php_fastcgi php82:9000
#    }
#    handle {
#        respond "Unauthorized access" 403
#    }
#}
# 域名配置示例，https自动配置
#www.baidu.com {
#	root * /var/www/html/baidu
#	encode zstd gzip
#	file_server
#	try_files {path} {path}/ /index.php?{query}
#	php_fastcgi php82:9000
#}